<style type="text/css">
	.button-profile {
		color: #ffffff;
		background-color: #3498db;
		border-radius: 4px;
		border-color: #3498db;
		border-style: solid;
		padding: 3px;
		position: fixed;
		left: 300px;
        top: 40px;
        margin-top: 3px;
		
	}
</style>

